In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d singhnproud77/hr-attrition-dataset

Downloading hr-attrition-dataset.zip to /content
  0% 0.00/40.3k [00:00<?, ?B/s]
100% 40.3k/40.3k [00:00<00:00, 82.5MB/s]

In [3]:
!unzip -q /content/hr-attrition-dataset.zip

In [4]:
import pandas as pd
import numpy as np
import plotly.express as px
from sklearn.preprocessing import LabelEncoder

In [5]:
datasets_final = pd.read_csv("/content/Final dataset Attrition.csv")
datasets_final.head(10)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,...,Date_of_Hire,Date_of_termination,Status_of_leaving,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode,Unnamed: 32
0,37,Yes,Travel_Rarely,Research & Development,2,Male,2,1,Laboratory Technician,3,...,21-01-2021,NaN,Salary,OFFICE,4,2,No,Job Event,Contract,NaN
1,21,No,Travel_Rarely,Research & Development,15,Male,3,1,Research Scientist,4,...,13-03-2021,NaN,Work Accident,WFH,5,2,No,Recruiter,Part Time,NaN
2,45,No,Travel_Rarely,Research & Development,6,Male,3,3,Research Director,1,...,23-01-2021,NaN,Dept.Head,WFH,1,3,No,Job Event,Contract,NaN
3,23,No,Travel_Rarely,Sales,2,Male,3,1,Sales Representative,1,...,25-04-2021,NaN,Work Accident,OFFICE,1,0,Yes,Recruiter,FullTime,NaN
4,22,No,Travel_Rarely,Research & Development,15,Female,3,1,Laboratory Technician,4,...,14-06-2021,NaN,Better Opportunity,WFH,5,2,No,Job Event,Contract,NaN
5,19,Yes,Travel_Rarely,Sales,22,Male,3,1,Sales Representative,3,...,14-04-2021,NaN,Work Accident,WFH,1,1,Yes,Job Portal,Part Time,NaN
6,19,Yes,Travel_Frequently,Sales,1,Female,1,1,Sales Representative,1,...,12-01-2021,NaN,Work Accident,WFH,2,2,No,Walk-in,Contract,NaN
7,28,Yes,Travel_Rarely,Research & Development,2,Male,3,1,Laboratory Technician,3,...,30-05-2021,NaN,Work Environment,WFH,0,2,No,Walk-in,Contract,NaN
8,29,No,Travel_Rarely,Sales,2,Male,2,2,Sales Executive,2,...,28-02-2021,NaN,Better Opportunity,OFFICE,5,2,No,Walk-in,Part Time,NaN
9,18,Yes,Travel_Rarely,Research & Development,3,Male,3,1,Laboratory Technician,3,...,06-05-2021,NaN,Work Environment,WFH,5,2,No,Walk-in,FullTime,NaN

# New Section

In [6]:
datasets_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   Attrition                1470 non-null   object
 2   BusinessTravel           1470 non-null   object
 3   Department               1470 non-null   object
 4   DistanceFromHome         1470 non-null   int64
 5   Gender                   1470 non-null   object
 6   JobInvolvement           1470 non-null   int64
 7   JobLevel                 1470 non-null   int64
 8   JobRole                  1470 non-null   object
 9   JobSatisfaction          1470 non-null   int64
 10  MaritalStatus            1470 non-null   object
 11  MonthlyIncome            1470 non-null   int64
 12  NumCompaniesWorked       1470 non-null   int64
 13  OverTime                 1470 non-null   object
 14  PercentSalaryHike        1470 non-null   int64
 15  PerformanceRating        1470 non-null   int64
 16  StockOptionLevel         1470 non-null   int64
 17  TotalWorkingYears        1470 non-null   int64
 18  TrainingTimesLastYear    1470 non-null   int64
 19  YearsAtCompany           1470 non-null   int64
 20  YearsSinceLastPromotion  1470 non-null   int64
 21  YearsWithCurrManager     1470 non-null   int64
 22  Higher_Education         1470 non-null   object
 23  Date_of_Hire             1470 non-null   object
 24  Date_of_termination      0 non-null      float64
 25  Status_of_leaving        1470 non-null   object
 26  Mode_of_work             1470 non-null   object
 27  Leaves                   1470 non-null   int64
 28  Absenteeism              1470 non-null   int64
 29  Work_accident            1470 non-null   object
 30  Source_of_Hire           1470 non-null   object
 31  Job_mode                 1470 non-null   object
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(2), int64(17), object(14)
memory usage: 379.1+ KB

In [7]:
datasets = datasets_final.drop(['Date_of_termination','Date_of_Hire', 'Unnamed: 32','StockOptionLevel','Status_of_leaving','JobRole','Department','Gender'], axis=1)
datasets.head(10)

,Age,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Higher_Education,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
0,37,Yes,Travel_Rarely,2,2,1,3,Single,2090,6,...,0,0,0,Graduation,OFFICE,4,2,No,Job Event,Contract
1,21,No,Travel_Rarely,15,3,1,4,Single,1232,1,...,0,0,0,Graduation,WFH,5,2,No,Recruiter,Part Time
2,45,No,Travel_Rarely,6,3,3,1,Married,13245,4,...,0,0,0,Post-Graduation,WFH,1,3,No,Job Event,Contract
3,23,No,Travel_Rarely,2,3,1,1,Divorced,2322,3,...,0,0,0,PHD,OFFICE,1,0,Yes,Recruiter,FullTime
4,22,No,Travel_Rarely,15,3,1,4,Single,2871,1,...,0,0,0,PHD,WFH,5,2,No,Job Event,Contract
5,19,Yes,Travel_Rarely,22,3,1,3,Single,1675,1,...,0,0,0,PHD,WFH,1,1,Yes,Job Portal,Part Time
6,19,Yes,Travel_Frequently,1,1,1,1,Single,2325,0,...,0,0,0,PHD,WFH,2,2,No,Walk-in,Contract
7,28,Yes,Travel_Rarely,2,3,1,3,Single,3485,2,...,0,0,0,Post-Graduation,WFH,0,2,No,Walk-in,Contract
8,29,No,Travel_Rarely,2,2,2,2,Married,6644,2,...,0,0,0,Graduation,OFFICE,5,2,No,Walk-in,Part Time
9,18,Yes,Travel_Rarely,3,3,1,3,Single,1420,1,...,0,0,0,PHD,WFH,5,2,No,Walk-in,FullTime

In [8]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   Attrition                1470 non-null   object
 2   BusinessTravel           1470 non-null   object
 3   DistanceFromHome         1470 non-null   int64
 4   JobInvolvement           1470 non-null   int64
 5   JobLevel                 1470 non-null   int64
 6   JobSatisfaction          1470 non-null   int64
 7   MaritalStatus            1470 non-null   object
 8   MonthlyIncome            1470 non-null   int64
 9   NumCompaniesWorked       1470 non-null   int64
 10  OverTime                 1470 non-null   object
 11  PercentSalaryHike        1470 non-null   int64
 12  PerformanceRating        1470 non-null   int64
 13  TotalWorkingYears        1470 non-null   int64
 14  TrainingTimesLastYear    1470 non-null   int64
 15  YearsAtCompany           1470 non-null   int64
 16  YearsSinceLastPromotion  1470 non-null   int64
 17  YearsWithCurrManager     1470 non-null   int64
 18  Higher_Education         1470 non-null   object
 19  Mode_of_work             1470 non-null   object
 20  Leaves                   1470 non-null   int64
 21  Absenteeism              1470 non-null   int64
 22  Work_accident            1470 non-null   object
 23  Source_of_Hire           1470 non-null   object
 24  Job_mode                 1470 non-null   object
dtypes: int64(16), object(9)
memory usage: 287.2+ KB

In [9]:
datasets.describe()

,Age,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Leaves,Absenteeism
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,9.192517,2.729932,2.063946,2.728571,6502.931293,2.693197,15.209524,3.153741,11.279592,2.799320,7.008163,2.187755,4.123129,2.568707,1.525170
std,9.135373,8.106864,0.711561,1.106940,1.102846,4707.956783,2.498009,3.659938,0.360824,7.780782,1.289271,6.126525,3.222430,3.568136,1.716171,1.097856
min,18.000000,1.000000,1.000000,1.000000,1.000000,1009.000000,0.000000,11.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,2.000000,1.000000,2.000000,2911.000000,1.000000,12.000000,3.000000,6.000000,2.000000,3.000000,0.000000,2.000000,1.000000,1.000000
50%,36.000000,7.000000,3.000000,2.000000,3.000000,4919.000000,2.000000,14.000000,3.000000,10.000000,3.000000,5.000000,1.000000,3.000000,3.000000,2.000000
75%,43.000000,14.000000,3.000000,3.000000,4.000000,8379.000000,4.000000,18.000000,3.000000,15.000000,3.000000,9.000000,3.000000,7.000000,4.000000,2.000000
max,60.000000,29.000000,4.000000,5.000000,4.000000,19999.000000,9.000000,25.000000,4.000000,40.000000,6.000000,40.000000,15.000000,17.000000,5.000000,3.000000

In [10]:
datasets['Attrition'] = datasets['Attrition'].map({'Yes':1, 'No':0})
datasets.head(10)

,Age,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Higher_Education,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
0,37,1,Travel_Rarely,2,2,1,3,Single,2090,6,...,0,0,0,Graduation,OFFICE,4,2,No,Job Event,Contract
1,21,0,Travel_Rarely,15,3,1,4,Single,1232,1,...,0,0,0,Graduation,WFH,5,2,No,Recruiter,Part Time
2,45,0,Travel_Rarely,6,3,3,1,Married,13245,4,...,0,0,0,Post-Graduation,WFH,1,3,No,Job Event,Contract
3,23,0,Travel_Rarely,2,3,1,1,Divorced,2322,3,...,0,0,0,PHD,OFFICE,1,0,Yes,Recruiter,FullTime
4,22,0,Travel_Rarely,15,3,1,4,Single,2871,1,...,0,0,0,PHD,WFH,5,2,No,Job Event,Contract
5,19,1,Travel_Rarely,22,3,1,3,Single,1675,1,...,0,0,0,PHD,WFH,1,1,Yes,Job Portal,Part Time
6,19,1,Travel_Frequently,1,1,1,1,Single,2325,0,...,0,0,0,PHD,WFH,2,2,No,Walk-in,Contract
7,28,1,Travel_Rarely,2,3,1,3,Single,3485,2,...,0,0,0,Post-Graduation,WFH,0,2,No,Walk-in,Contract
8,29,0,Travel_Rarely,2,2,2,2,Married,6644,2,...,0,0,0,Graduation,OFFICE,5,2,No,Walk-in,Part Time
9,18,1,Travel_Rarely,3,3,1,3,Single,1420,1,...,0,0,0,PHD,WFH,5,2,No,Walk-in,FullTime

In [11]:
corr = datasets.corr()
fig = px.imshow(corr, text_auto=True, aspect="auto")
fig.show()

<ipython-input-11-3d3be80de883>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = datasets.corr()

In [12]:
datasets.groupby('Attrition').mean()

<ipython-input-12-697ddc7da1e7>:1: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

,Age,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Leaves,Absenteeism
Attrition,,,,,,,,,,,,,,,,
0,37.561233,8.915653,2.770479,2.145985,2.778589,6832.739659,2.645580,15.231144,3.153285,11.862936,2.832928,7.369019,2.234388,4.367397,2.600162,1.54339
1,33.607595,10.632911,2.518987,1.637131,2.468354,4787.092827,2.940928,15.097046,3.156118,8.244726,2.624473,5.130802,1.945148,2.852321,2.405063,1.43038

In [13]:
datasets.groupby('JobLevel').mean()

<ipython-input-13-d14b41aaff0c>:1: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

,Age,Attrition,DistanceFromHome,JobInvolvement,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Leaves,Absenteeism
JobLevel,,,,,,,,,,,,,,,,
1,32.524862,0.263352,8.631676,2.744015,2.718232,2786.915285,2.241252,15.305709,3.162063,5.891344,2.808471,3.931860,1.193370,2.476980,2.456722,1.506446
2,36.599251,0.097378,9.683521,2.730337,2.758427,5502.277154,2.829588,15.205993,3.149813,10.423221,2.814607,6.752809,1.885768,4.464419,2.679775,1.574906
3,40.087156,0.146789,9.770642,2.669725,2.678899,9817.252294,2.963303,15.197248,3.151376,15.119266,2.844037,9.380734,3.353211,5.600917,2.518349,1.513761
4,47.537736,0.047170,10.226415,2.820755,2.726415,15503.783019,3.320755,15.292453,3.169811,25.471698,2.556604,13.886792,4.839623,6.075472,2.650943,1.424528
5,47.753623,0.072464,6.391304,2.666667,2.739130,19191.826087,3.376812,14.391304,3.101449,26.376812,2.840580,15.130435,4.594203,6.768116,2.623188,1.478261

In [14]:
datasets['OverTime'] = datasets['OverTime'].map({'Yes':1, 'No':0})

In [15]:
datasets.groupby('Attrition').mean()

<ipython-input-15-697ddc7da1e7>:1: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

,Age,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Leaves,Absenteeism
Attrition,,,,,,,,,,,,,,,,,
0,37.561233,8.915653,2.770479,2.145985,2.778589,6832.739659,2.645580,0.234388,15.231144,3.153285,11.862936,2.832928,7.369019,2.234388,4.367397,2.600162,1.54339
1,33.607595,10.632911,2.518987,1.637131,2.468354,4787.092827,2.940928,0.535865,15.097046,3.156118,8.244726,2.624473,5.130802,1.945148,2.852321,2.405063,1.43038

In [16]:
turnover_distribution = datasets.Attrition.value_counts() / len(datasets) *100
turnover_distribution

0    83.877551
1    16.122449
Name: Attrition, dtype: float64

In [17]:
datasets['Higher_Education'].value_counts()

Post-Graduation    387
Graduation         367
PHD                358
12th               358
Name: Higher_Education, dtype: int64

In [18]:
datasets['Higher_Education'] = datasets['Higher_Education'].map({'12th': 1, 'Graduation': 2, 'Post-Graduation': 3, 'PHD': 4 })

In [19]:
'''
datasets["Gender"] = datasets["Gender"].map({'Female': 2,'Male': 1})'''

'\ndatasets["Gender"] = datasets["Gender"].map({\'Female\': 2,\'Male\': 1})'

In [20]:
datasets.head(10)

,Age,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Higher_Education,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
0,37,1,Travel_Rarely,2,2,1,3,Single,2090,6,...,0,0,0,2,OFFICE,4,2,No,Job Event,Contract
1,21,0,Travel_Rarely,15,3,1,4,Single,1232,1,...,0,0,0,2,WFH,5,2,No,Recruiter,Part Time
2,45,0,Travel_Rarely,6,3,3,1,Married,13245,4,...,0,0,0,3,WFH,1,3,No,Job Event,Contract
3,23,0,Travel_Rarely,2,3,1,1,Divorced,2322,3,...,0,0,0,4,OFFICE,1,0,Yes,Recruiter,FullTime
4,22,0,Travel_Rarely,15,3,1,4,Single,2871,1,...,0,0,0,4,WFH,5,2,No,Job Event,Contract
5,19,1,Travel_Rarely,22,3,1,3,Single,1675,1,...,0,0,0,4,WFH,1,1,Yes,Job Portal,Part Time
6,19,1,Travel_Frequently,1,1,1,1,Single,2325,0,...,0,0,0,4,WFH,2,2,No,Walk-in,Contract
7,28,1,Travel_Rarely,2,3,1,3,Single,3485,2,...,0,0,0,3,WFH,0,2,No,Walk-in,Contract
8,29,0,Travel_Rarely,2,2,2,2,Married,6644,2,...,0,0,0,2,OFFICE,5,2,No,Walk-in,Part Time
9,18,1,Travel_Rarely,3,3,1,3,Single,1420,1,...,0,0,0,4,WFH,5,2,No,Walk-in,FullTime

In [21]:
datasets.BusinessTravel.value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [22]:
datasets['BusinessTravel'] = datasets['BusinessTravel'].map({'Non-Travel': 1, 'Travel_Rarely': 2, 'Travel_Frequently': 3})
datasets.head(10)

,Age,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Higher_Education,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
0,37,1,2,2,2,1,3,Single,2090,6,...,0,0,0,2,OFFICE,4,2,No,Job Event,Contract
1,21,0,2,15,3,1,4,Single,1232,1,...,0,0,0,2,WFH,5,2,No,Recruiter,Part Time
2,45,0,2,6,3,3,1,Married,13245,4,...,0,0,0,3,WFH,1,3,No,Job Event,Contract
3,23,0,2,2,3,1,1,Divorced,2322,3,...,0,0,0,4,OFFICE,1,0,Yes,Recruiter,FullTime
4,22,0,2,15,3,1,4,Single,2871,1,...,0,0,0,4,WFH,5,2,No,Job Event,Contract
5,19,1,2,22,3,1,3,Single,1675,1,...,0,0,0,4,WFH,1,1,Yes,Job Portal,Part Time
6,19,1,3,1,1,1,1,Single,2325,0,...,0,0,0,4,WFH,2,2,No,Walk-in,Contract
7,28,1,2,2,3,1,3,Single,3485,2,...,0,0,0,3,WFH,0,2,No,Walk-in,Contract
8,29,0,2,2,2,2,2,Married,6644,2,...,0,0,0,2,OFFICE,5,2,No,Walk-in,Part Time
9,18,1,2,3,3,1,3,Single,1420,1,...,0,0,0,4,WFH,5,2,No,Walk-in,FullTime

In [23]:
datasets['Mode_of_work'].value_counts()

WFH       768
OFFICE    702
Name: Mode_of_work, dtype: int64

In [24]:
datasets['Mode_of_work'] = datasets['Mode_of_work'].map({'OFFICE': 1, 'WFH': 2})
datasets.head(10)

,Age,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Higher_Education,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
0,37,1,2,2,2,1,3,Single,2090,6,...,0,0,0,2,1,4,2,No,Job Event,Contract
1,21,0,2,15,3,1,4,Single,1232,1,...,0,0,0,2,2,5,2,No,Recruiter,Part Time
2,45,0,2,6,3,3,1,Married,13245,4,...,0,0,0,3,2,1,3,No,Job Event,Contract
3,23,0,2,2,3,1,1,Divorced,2322,3,...,0,0,0,4,1,1,0,Yes,Recruiter,FullTime
4,22,0,2,15,3,1,4,Single,2871,1,...,0,0,0,4,2,5,2,No,Job Event,Contract
5,19,1,2,22,3,1,3,Single,1675,1,...,0,0,0,4,2,1,1,Yes,Job Portal,Part Time
6,19,1,3,1,1,1,1,Single,2325,0,...,0,0,0,4,2,2,2,No,Walk-in,Contract
7,28,1,2,2,3,1,3,Single,3485,2,...,0,0,0,3,2,0,2,No,Walk-in,Contract
8,29,0,2,2,2,2,2,Married,6644,2,...,0,0,0,2,1,5,2,No,Walk-in,Part Time
9,18,1,2,3,3,1,3,Single,1420,1,...,0,0,0,4,2,5,2,No,Walk-in,FullTime

In [25]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   Attrition                1470 non-null   int64
 2   BusinessTravel           1470 non-null   int64
 3   DistanceFromHome         1470 non-null   int64
 4   JobInvolvement           1470 non-null   int64
 5   JobLevel                 1470 non-null   int64
 6   JobSatisfaction          1470 non-null   int64
 7   MaritalStatus            1470 non-null   object
 8   MonthlyIncome            1470 non-null   int64
 9   NumCompaniesWorked       1470 non-null   int64
 10  OverTime                 1470 non-null   int64
 11  PercentSalaryHike        1470 non-null   int64
 12  PerformanceRating        1470 non-null   int64
 13  TotalWorkingYears        1470 non-null   int64
 14  TrainingTimesLastYear    1470 non-null   int64
 15  YearsAtCompany           1470 non-null   int64
 16  YearsSinceLastPromotion  1470 non-null   int64
 17  YearsWithCurrManager     1470 non-null   int64
 18  Higher_Education         1470 non-null   int64
 19  Mode_of_work             1470 non-null   int64
 20  Leaves                   1470 non-null   int64
 21  Absenteeism              1470 non-null   int64
 22  Work_accident            1470 non-null   object
 23  Source_of_Hire           1470 non-null   object
 24  Job_mode                 1470 non-null   object
dtypes: int64(21), object(4)
memory usage: 287.2+ KB

In [26]:
datasets['Job_mode'].value_counts()

FullTime     517
Contract     482
Part Time    471
Name: Job_mode, dtype: int64

In [27]:
datasets['Job_mode'] = datasets['Job_mode'].map({'Part Time':1, 'Contract':2, 'FullTime':3})
datasets.head(10)

,Age,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Higher_Education,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
0,37,1,2,2,2,1,3,Single,2090,6,...,0,0,0,2,1,4,2,No,Job Event,2
1,21,0,2,15,3,1,4,Single,1232,1,...,0,0,0,2,2,5,2,No,Recruiter,1
2,45,0,2,6,3,3,1,Married,13245,4,...,0,0,0,3,2,1,3,No,Job Event,2
3,23,0,2,2,3,1,1,Divorced,2322,3,...,0,0,0,4,1,1,0,Yes,Recruiter,3
4,22,0,2,15,3,1,4,Single,2871,1,...,0,0,0,4,2,5,2,No,Job Event,2
5,19,1,2,22,3,1,3,Single,1675,1,...,0,0,0,4,2,1,1,Yes,Job Portal,1
6,19,1,3,1,1,1,1,Single,2325,0,...,0,0,0,4,2,2,2,No,Walk-in,2
7,28,1,2,2,3,1,3,Single,3485,2,...,0,0,0,3,2,0,2,No,Walk-in,2
8,29,0,2,2,2,2,2,Married,6644,2,...,0,0,0,2,1,5,2,No,Walk-in,1
9,18,1,2,3,3,1,3,Single,1420,1,...,0,0,0,4,2,5,2,No,Walk-in,3

In [28]:
datasets['Work_accident'] = datasets['Work_accident'].map({'Yes':1, 'No':0})
datasets.head(10)

,Age,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Higher_Education,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
0,37,1,2,2,2,1,3,Single,2090,6,...,0,0,0,2,1,4,2,0,Job Event,2
1,21,0,2,15,3,1,4,Single,1232,1,...,0,0,0,2,2,5,2,0,Recruiter,1
2,45,0,2,6,3,3,1,Married,13245,4,...,0,0,0,3,2,1,3,0,Job Event,2
3,23,0,2,2,3,1,1,Divorced,2322,3,...,0,0,0,4,1,1,0,1,Recruiter,3
4,22,0,2,15,3,1,4,Single,2871,1,...,0,0,0,4,2,5,2,0,Job Event,2
5,19,1,2,22,3,1,3,Single,1675,1,...,0,0,0,4,2,1,1,1,Job Portal,1
6,19,1,3,1,1,1,1,Single,2325,0,...,0,0,0,4,2,2,2,0,Walk-in,2
7,28,1,2,2,3,1,3,Single,3485,2,...,0,0,0,3,2,0,2,0,Walk-in,2
8,29,0,2,2,2,2,2,Married,6644,2,...,0,0,0,2,1,5,2,0,Walk-in,1
9,18,1,2,3,3,1,3,Single,1420,1,...,0,0,0,4,2,5,2,0,Walk-in,3

In [29]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   Attrition                1470 non-null   int64
 2   BusinessTravel           1470 non-null   int64
 3   DistanceFromHome         1470 non-null   int64
 4   JobInvolvement           1470 non-null   int64
 5   JobLevel                 1470 non-null   int64
 6   JobSatisfaction          1470 non-null   int64
 7   MaritalStatus            1470 non-null   object
 8   MonthlyIncome            1470 non-null   int64
 9   NumCompaniesWorked       1470 non-null   int64
 10  OverTime                 1470 non-null   int64
 11  PercentSalaryHike        1470 non-null   int64
 12  PerformanceRating        1470 non-null   int64
 13  TotalWorkingYears        1470 non-null   int64
 14  TrainingTimesLastYear    1470 non-null   int64
 15  YearsAtCompany           1470 non-null   int64
 16  YearsSinceLastPromotion  1470 non-null   int64
 17  YearsWithCurrManager     1470 non-null   int64
 18  Higher_Education         1470 non-null   int64
 19  Mode_of_work             1470 non-null   int64
 20  Leaves                   1470 non-null   int64
 21  Absenteeism              1470 non-null   int64
 22  Work_accident            1470 non-null   int64
 23  Source_of_Hire           1470 non-null   object
 24  Job_mode                 1470 non-null   int64
dtypes: int64(23), object(2)
memory usage: 287.2+ KB

In [30]:
label_encoder = LabelEncoder()
'''datasets['Department'] = label_encoder.fit_transform(datasets['Department'])
datasets['JobRole'] = label_encoder.fit_transform(datasets['JobRole'])'''
datasets['Source_of_Hire'] = label_encoder.fit_transform(datasets['Source_of_Hire'])

datasets.head(10)

,Age,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Higher_Education,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
0,37,1,2,2,2,1,3,Single,2090,6,...,0,0,0,2,1,4,2,0,0,2
1,21,0,2,15,3,1,4,Single,1232,1,...,0,0,0,2,2,5,2,0,2,1
2,45,0,2,6,3,3,1,Married,13245,4,...,0,0,0,3,2,1,3,0,0,2
3,23,0,2,2,3,1,1,Divorced,2322,3,...,0,0,0,4,1,1,0,1,2,3
4,22,0,2,15,3,1,4,Single,2871,1,...,0,0,0,4,2,5,2,0,0,2
5,19,1,2,22,3,1,3,Single,1675,1,...,0,0,0,4,2,1,1,1,1,1
6,19,1,3,1,1,1,1,Single,2325,0,...,0,0,0,4,2,2,2,0,3,2
7,28,1,2,2,3,1,3,Single,3485,2,...,0,0,0,3,2,0,2,0,3,2
8,29,0,2,2,2,2,2,Married,6644,2,...,0,0,0,2,1,5,2,0,3,1
9,18,1,2,3,3,1,3,Single,1420,1,...,0,0,0,4,2,5,2,0,3,3

In [31]:
datasets.MaritalStatus.value_counts()

Married     673
Single      470
Divorced    327
Name: MaritalStatus, dtype: int64

In [32]:
datasets['MaritalStatus'] = datasets['MaritalStatus'].map({'Single':1, 'Married':2, 'Divorced':3})
datasets.head(10)

,Age,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Higher_Education,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
0,37,1,2,2,2,1,3,1,2090,6,...,0,0,0,2,1,4,2,0,0,2
1,21,0,2,15,3,1,4,1,1232,1,...,0,0,0,2,2,5,2,0,2,1
2,45,0,2,6,3,3,1,2,13245,4,...,0,0,0,3,2,1,3,0,0,2
3,23,0,2,2,3,1,1,3,2322,3,...,0,0,0,4,1,1,0,1,2,3
4,22,0,2,15,3,1,4,1,2871,1,...,0,0,0,4,2,5,2,0,0,2
5,19,1,2,22,3,1,3,1,1675,1,...,0,0,0,4,2,1,1,1,1,1
6,19,1,3,1,1,1,1,1,2325,0,...,0,0,0,4,2,2,2,0,3,2
7,28,1,2,2,3,1,3,1,3485,2,...,0,0,0,3,2,0,2,0,3,2
8,29,0,2,2,2,2,2,2,6644,2,...,0,0,0,2,1,5,2,0,3,1
9,18,1,2,3,3,1,3,1,1420,1,...,0,0,0,4,2,5,2,0,3,3

In [33]:
datasets.Attrition.value_counts()

0    1233
1     237
Name: Attrition, dtype: int64

In [34]:
datasets.head(10)

,Age,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Higher_Education,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
0,37,1,2,2,2,1,3,1,2090,6,...,0,0,0,2,1,4,2,0,0,2
1,21,0,2,15,3,1,4,1,1232,1,...,0,0,0,2,2,5,2,0,2,1
2,45,0,2,6,3,3,1,2,13245,4,...,0,0,0,3,2,1,3,0,0,2
3,23,0,2,2,3,1,1,3,2322,3,...,0,0,0,4,1,1,0,1,2,3
4,22,0,2,15,3,1,4,1,2871,1,...,0,0,0,4,2,5,2,0,0,2
5,19,1,2,22,3,1,3,1,1675,1,...,0,0,0,4,2,1,1,1,1,1
6,19,1,3,1,1,1,1,1,2325,0,...,0,0,0,4,2,2,2,0,3,2
7,28,1,2,2,3,1,3,1,3485,2,...,0,0,0,3,2,0,2,0,3,2
8,29,0,2,2,2,2,2,2,6644,2,...,0,0,0,2,1,5,2,0,3,1
9,18,1,2,3,3,1,3,1,1420,1,...,0,0,0,4,2,5,2,0,3,3

In [35]:
corr_matrix = datasets.corr()[['Attrition']].sort_values(by = ['Attrition'], ascending = False).drop(['Attrition'])
corr_matrix.style.background_gradient(cmap = 'coolwarm').set_precision(2)

<ipython-input-35-34e19cda5baf>:2: FutureWarning:

this method is deprecated in favour of `Styler.format(precision=..)`

In [36]:
x = datasets.drop(['Attrition'],axis=1)
y = datasets.Attrition

In [37]:
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [39]:
log_reg = LogisticRegression(max_iter= 100000)
log_reg.fit(x_train, y_train)

LogisticRegression(max_iter=100000)

In [40]:
from sklearn.metrics import (confusion_matrix,
                           accuracy_score,
                           precision_score,recall_score,f1_score)

y_pred = log_reg.predict(x_test)


# confusion matrix
cm = confusion_matrix(y_test, y_pred)
print ("Confusion Matrix : \n", cm)

# accuracy score of the model
print('Test accuracy = ', accuracy_score(y_test, y_pred))
print('Precision = ',precision_score(y_test, y_pred))
print('Recall = ',recall_score(y_test, y_pred))
print('F1 score = ',f1_score(y_test, y_pred))

Confusion Matrix :
 [[298  11]
 [ 43  16]]
Test accuracy =  0.8532608695652174
Precision =  0.5925925925925926
Recall =  0.2711864406779661
F1 score =  0.37209302325581395

In [41]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(x_train, y_train)

In [42]:
y_resampled.value_counts()

0    924
1    924
Name: Attrition, dtype: int64

In [43]:
log_reg = LogisticRegression(max_iter= 100000)
log_reg.fit(X_resampled, y_resampled)

LogisticRegression(max_iter=100000)

In [44]:
y_pred = log_reg.predict(x_test)


# confusion matrix
cm = confusion_matrix(y_test, y_pred)
print ("Confusion Matrix : \n", cm)

# accuracy score of the model
print('Test accuracy = ', accuracy_score(y_test, y_pred))
print('Precision = ',precision_score(y_test, y_pred))
print('Recall = ',recall_score(y_test, y_pred))
print('F1 score = ',f1_score(y_test, y_pred))

Confusion Matrix :
 [[250  59]
 [ 29  30]]
Test accuracy =  0.7608695652173914
Precision =  0.33707865168539325
Recall =  0.5084745762711864
F1 score =  0.40540540540540543

In [45]:
# Access the coefficients
coefficients = log_reg.coef_[0]

# Map coefficients to feature names
feature_names = list(x_train.columns)
feature_coefficients = dict(zip(feature_names, coefficients))

# Sort feature importance
sorted_feature_importance = sorted(feature_coefficients.items(), key=lambda x: abs(x[1]), reverse=True)

# Print feature importance
for feature, coef in sorted_feature_importance:
    print(f"{feature}: {coef}")

PerformanceRating: -1.9425120330978634
MaritalStatus: -1.045582330934064
JobInvolvement: -0.896780888222913
OverTime: 0.777865099119743
Work_accident: -0.7319734098658122
JobLevel: -0.633444309006519
JobSatisfaction: -0.6037687830188833
Mode_of_work: -0.5724020694282508
BusinessTravel: 0.5138028250359699
Absenteeism: -0.39120834680051253
TrainingTimesLastYear: -0.38835469659206345
Higher_Education: -0.26537243374793146
YearsWithCurrManager: -0.26346412773166605
YearsAtCompany: 0.11389834710148
NumCompaniesWorked: 0.11296130315570907
Job_mode: -0.10116074917812676
Leaves: -0.09903538640036604
PercentSalaryHike: 0.09627797293976793
Source_of_Hire: -0.08536834340998109
YearsSinceLastPromotion: 0.06083934775111578
DistanceFromHome: 0.03378570600288903
TotalWorkingYears: -0.030464922689418836
Age: -0.007057732650310395
MonthlyIncome: 3.195471170067733e-05

In [46]:
prediction = log_reg.predict_proba(x)

positive_prediction = []
for item in prediction:
    formatted_num = f"{item[1]*100:.2f}"
    positive_prediction.append(formatted_num)

datasets['Results'] = positive_prediction

In [47]:
datasets

,Age,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,...,YearsSinceLastPromotion,YearsWithCurrManager,Higher_Education,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode,Results
0,37,1,2,2,2,1,3,1,2090,6,...,0,0,2,1,4,2,0,0,2,91.04
1,21,0,2,15,3,1,4,1,1232,1,...,0,0,2,2,5,2,0,2,1,14.31
2,45,0,2,6,3,3,1,2,13245,4,...,0,0,3,2,1,3,0,0,2,30.85
3,23,0,2,2,3,1,1,3,2322,3,...,0,0,4,1,1,0,1,2,3,26.92
4,22,0,2,15,3,1,4,1,2871,1,...,0,0,4,2,5,2,0,0,2,14.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,52,0,2,3,2,4,1,2,16856,1,...,1,16,3,1,3,2,0,1,1,11.89
1466,55,0,2,1,3,5,1,1,19045,0,...,4,13,3,2,1,1,0,3,3,39.85
1467,55,0,2,26,2,5,4,2,19586,1,...,2,13,3,1,2,1,0,2,1,4.06
1468,58,0,2,10,3,4,3,1,13872,0,...,1,8,4,2,2,2,1,0,1,23.78
1469,58,1,2,23,3,3,4,2,10312,1,...,15,6,1,2,4,3,1,1,3,26.18

In [48]:
import joblib

filename = 'logistic_regression_model.sav'
joblib.dump(log_reg, filename)

['logistic_regression_model.sav']